@import "_reset";
@import "_variables.scss";
@import "_buttons.scss";

button {
  background-color: transparent;
  color: $textcolor;
  border: 1px solid $textcolor;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  background: $bgcolor;
  color: $textcolor;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  .header-nav {
    background: $bgcolor;
    position: relative;
    z-index: 99;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $hpad;
    color: $textcolor;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;

    .header-nav__items {
      width: 80%;
      ul {
        display: flex;
        &:hover {
          .item__contents {
            display: block;
          }
        }
        li {
          .item__title {
            width: 180px;
            height: 150px;
            display: flex;
            align-items: center;
          }
          .item__contents {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100px;

            .contents {
              position: relative;
              display: flex;
              justify-content: center;
              ul {
                width: 100%;
                height: 200px;
                background-color: rgb(19, 0, 54);
                position: absolute;
                display: flex;
                justify-content: center;
                li {
                  width: 200px;
                  h4 {
                    padding: 20px 0;
                  }
                  div {
                    display: flex;
                    flex-direction: column;
                  }
                  &:nth-child(4) {
                    margin-left: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .logo {
      width: 20%;
      a {
        img {
          width: 50%;
        }
      }
    }

    .header-nav__items,
    .user {
      a {
        &:hover {
          transition: ease-in-out 0.2s;
          opacity: 0.4;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  text-align: center;
  gap: 50px;

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    img {
      width: 100%;
      height: 700px;
      position: relative;
    }
    .introduce {
      position: absolute;
      width: 40%;

      span {
        font-size: 20px;
      }
      p {
        margin: 20px;
        font-size: 50px;
        font-weight: 500;
      }
      button {
        @extend %button;
      }
    }
  }
  .second {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
    .second-text {
      display: flex;
      flex-direction: column;
    }

    P {
      margin: 10px 30px;
      font-size: 15px;
      font-weight: 200;
      line-height: 1.3;
    }
    a {
      padding: 10px 10px;
      margin: 20px 100px;
      border: 1px solid $textcolor;
    }
  }
  .third {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    img {
      justify-self: center;
      width: 70%;
    }
    .third-text {
      margin: 0px 60px;
      font-weight: 200;
      line-height: 1.3;
    }

    p {
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
  .grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .grid_img {
      img {
        object-fit: contain;
        max-width: 100%;
        height: 100%;
      }
    }
    .grid_img:nth-child(7) {
      img {
        object-fit: cover;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: $purple;
  bottom: 0;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.2px;
  padding: 65px 0px;

  .footer-nav {
    display: flex;

    justify-content: space-around;
    align-items: center;
    .footer-nav__list {
      width: 33%;
    }
    .footer-nav__inside {
      display: flex;
      flex-direction: column;
      h6 {
        color: #9d9d9c;
        margin-bottom: 30px;
      }
      span {
        margin-bottom: 10px;
      }
    }
    .footer-nav__list:nth-child(2) {
      padding: 0px 10px;
      border-right: 1px solid rgba(0, 0, 0, 1);
      border-left: 1px solid rgba(0, 0, 0, 1);
    }
  }
}
