@import "_reset";
@import "_variables.scss";

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: $textcolor;
  border: 1px solid $textcolor
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: $bgcolor;
  color: $textcolor;
}


header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: $bgcolor;
  img{
    width: 20%;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $pagemargin;
    color: $textcolor;
    font-size: 10px;
    .header-nav__left {
      span {
        margin-right: 40px;
        &:hover {
          transition: ease-in-out 0.2s;
          opacity: 0.4;
        }
      }
    }
    .header-nav__right {
      span, i {
        margin-left: 40px;
      }
    }
  }
}


main {
  display: flex;
  flex-direction: column;
  margin: $pagemargin;
  padding-top: 100px;
  text-align: center;
  gap: 50px;

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 30px;
    
    img {
      width: 100%;
      position: relative;
    }
    .introduce {
      position: absolute;
      width: 40%;
      
      span {
      font-size: 20px;
      }
      p {
        margin: 20px; 
        font-size: 50px;
        font-weight: 500;
      }
    }
  } 
  .second {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
    .second-text {
      display: flex;
      flex-direction: column;
    }

    P {
      margin: 10px 30px;
      font-size: 15px;
      font-weight: 200;
      line-height: 1.3;

    }
    a {
      padding: 10px 10px;
      margin: 20px 100px;
      border: 1px solid $textcolor;
      
    }
  }
  .third {
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    img{
      width:100%;
    }
    .third-text {
        margin: 0px 60px;
        font-weight: 200;
        line-height: 1.3;
      }
        
      p {
        margin-bottom: 20px;  
        font-size: 15px;
      } 
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .grid_img{
      img{
        object-fit: contain;
        max-width: 100%;
        height: 100%;
        
      }
    }
    
    
  }
}

footer{
  
  width: 100%;
  background-color: $purple;
  bottom: 0;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.2px;
  padding: 65px 0px;
    
  .footer-nav {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    .footer-nav__list {
      width: 33%;
    }
    .footer-nav__inside {
      display: flex;
      flex-direction: column;
      h6 { 
        color: #9d9d9c;
        margin-bottom: 30px;
      }
      span {
        margin-bottom: 10px;
      }
      
    }
    .footer-nav__list:nth-child(2) {
      padding: 0px 10px;
      border-right : 1px solid rgba(0,0,0,1) ;
      border-left : 1px solid rgba(0,0,0,1) ;
    }
  }
}